*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li 
{
    list-style: none;
    a
{
    text-decoration: none;
    color: #262628;

    &:hover
    {
        color: black;
    }
} 
}
.orange{
    color: #fc7525;
}



@import "~bootstrap/scss/bootstrap";